nav {
text-align: center;
}

@media only screen and (max-width: 425px){
#userinput{
padding-left: 0px; 
padding-right: 0px;
}

#options {
padding-left: 10px;
padding-right: 10px;
}
}

body {
width: 100%;
margin-bottom: 50px;
}
.container {
border:1px lightgrey solid;
padding-left: 40px;
padding-right: 40px;
background-color:#F9FBFD;
display: flex;
align-content: center;
}

#display {
background-color: white;
padding: 15px 40px 15px 40px;
border:1px lightgrey solid;
border-radius: 10px;
}

#output {
width: 100%;
border: 1px lightgrey dashed;
background-color:white;
border-width: 2px;
text-align:center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider {
width: 100%;
}

input[type=checkbox] + label {
display: block;
margin: 0.2em;
cursor: pointer;
padding: 0.2em;
}
  
input[type=checkbox]{
width: 18px;
height: 16px;
}
 
#submit {
background-color: #AF0808;
color: white;
padding: 5px 20px 5px 20px;
border-radius: 15px;
border: 0px;
margin-bottom: 20px;
}

#copy-button {
background-color: #C0C7CF;
color: white;
padding:5px 20px 5px 20px;
border-radius: 15px;
border: 0px;
}



















